<%= javascript_bundle_tag 'externalaccount' %>
<% @page_title = "銀行口座登録" %>
<% breadcrumb :new_externalaccount, @account %>
<div class="page-body-container">
  <%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %>
  <div class="row">
    <div class="col s12 m9 user-page">
      <h1>銀行口座登録</h1>
      <div class="collection z-depth-0 account-form">
        <%= form_with model: [@account, @ext_acct], local: true, method: :post do |form| %>
          <%= render :partial => "ext_acct_form", locals: { f: form } %>
          <div class="col s12 m12" id="account-form-field-button">
            <div class="col s12 m12 account-form-field">
              <%= form.submit "登録",data: {disable_with: '送信中...'}, class: "btn btn-primary withripple custom" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>