<li class="comment-index collection-item" >
  <div class="comment-index__text"><%= comment.text %></div>
  <% if user_signed_in? && comment.user_id == current_user.id %>
    <span class="comment-index__delete">
      <%= link_to '削除', comment_path(comment.id), {:method => :delete, :data => {:confirm => "本当に削除しますか？"}} %>
    </span>
  <% end %>
  <div class="comment-index__footer">
    <%= link_to user_path(comment.user.id) do %>
      <% if comment.user.avatar.present? %>
        <%= image_tag comment.user.avatar, {:class => "comment-index__author-image"} %>
      <% else %>
        <%= image_bundle_tag "no_user_image.png", {:class => "comment-index__author-image"} %>
      <% end %>
    <% end %>
    <span class="comment-index__footer-text">
      <%= comment.user.nickname %>&nbsp;&nbsp;
      <%= comment.updated_at.to_s(:human) %>&nbsp;&nbsp;
    </span>
    <div class="comment-index__footer-icons">
      <% if user_signed_in? %>
        <span id="likes_buttons_<%= comment.class.name.downcase %>_<%= comment.id %>">
          <%= render partial: 'likes/like', locals: { likeable: comment } %>
        </span>
      <% else %>
        <i class="like--large material-icons">favorite_border</i>
        <span class="like__count"><%= comment.likes_count %></span>
      <% end %>
    </div>
  </div>
</li>