<%= link_to topic_path(topic.id) do %>
  <div class="card index">
    <div class="card-image index">
      <% if topic.header_image.attached? %>
        <%= image_tag topic.header_image %>
      <% else %>
        <%= image_pack_tag "teppan_gray.jpeg" %>
      <% end %>
    </div>
    <div class="card-content index">
      <p class="collection-item-title truncate"><%= topic.title %></p>
      <div class="collection-item-postdata">
        <% if topic.max_rate == 0 %>
          <span class="star_rating" rating-data="0"></span>
        <% else %>
          <span class="star_rating" rating-data="<%= topic.max_rate %>"></span>
          <span class="star-rating-text">&nbsp;&nbsp;<%= topic.max_rate %></span>
        <% end %>
          &nbsp;&nbsp;
          <i class="material-icons post custom">create</i>
          <span class="icon-side-count"><%= topic.netas_count %></span>
      </div>
      <div class="collection-item-footer">
        <p class="indexitem-footer-text">
          <span>
            <%= link_to user_path(topic.user_id) do %>
              <% if topic.user.avatar.present? %>
                <%= image_tag topic.user.avatar, {:class => "circle custom", :id => "index-author-image"} %>
              <% else %>
                <%= image_pack_tag "no_user_image.png", {:class => "circle custom", :id => "index-author-image"} %>
              <% end %>
            <% end %>
          </span>
          <%= atname(topic.user.nickname) %>&nbsp;&nbsp;
        </p>
        <p class="indexitem-footer-icons">
          <i class="material-icons like custom">favorite_border</i>
          <span class="icon-side-count"><%= topic.likes_count %></span>
          <br>
        </p>
    </div>
  </div>
  </div>
<% end %>