<div class="topic-form__header-img">
  <div class = "topic-form__header-img-label">ヘッダー画像</div>
  <%= form.label :header_image do %>
    <% if @topic.id.present? %>
      <% if @topic.header_img_url.present? %>
        <%= image_tag @topic.header_img_url, :class => 'topic-form__header-img-content' %><br>
        <span class="topic-form__header-img-deletelink">
          <%= link_to "画像を削除", topic_headerimage_path(@topic.id), :method => :delete %>
        </span><br>
      <% else %>
        <%= form.file_field :header_img_url, :class => 'js-topic-form__header-img-filefield' %>
        <div class="topic-form__header-img-wrapper">
          <canvas id="js-topic-header-canvas" class="topic-form__header-img-preview" />
        </div>
      <% end %>
    <% else %>
      <%= form.file_field :header_img_url, :class => 'js-topic-form__header-img-filefield' %>
      <div class="topic-form__header-img-wrapper">
        <canvas id="js-topic-header-canvas" class="topic-form__header-img-preview" />
      </div>
    <% end %>
  <% end %>
</div>
<div class="topic-form__title">
  <%= form.label :title, "テーマ・お題", :class => "topic-form__title-label" %>
  <%= form.text_field :title, :maxlength => '35', :class => "topic-form__title-text" %>
</div>
<div class="topic-form__content">
  <%= form.label :content, "本文", :class => "topic-form__content-label" %>
  <%= form.rich_text_area :content, :class => "topic-form__content-textarea"  %>
</div>
<div class="topic-form__private">
  <%= form.label :private_flag, "公開／非公開", :class => "topic-form__private-label"  %>
  <%= form.select :private_flag, [['公開', false], ['非公開', true]], { include_blank: false, selected: @topic.private_flag }, { class: "browser-default", :id => "topic-form__private-flag" } %>
</div>