<%= link_to topic_path(topic.id) do %>
  <div class="card index">
    <div class="card-image index">
      <% if topic.header_image.attached? %>
        <%= image_tag topic.header_image %>
      <% else %>
        <%= image_bundle_tag "teppan_gray.jpeg" %>
      <% end %>
    </div>
    <div class="card-content index">
      <div class="collection-item-title truncate"><%= topic.title %></div>
      <div class="collection-item-postdata">
        <% if topic.max_rate == 0 %>
          <span class="star_rating" rating-data="0"></span>
        <% else %>
          <span class="star_rating" rating-data="<%= topic.max_rate %>"></span>
          <span class="star-rating-text">&nbsp;&nbsp;<%= topic.max_rate %></span>
        <% end %>
        <br>
        <i class="material-icons post custom">create</i>
        <span class="icon-side-count"><%= topic.netas_count %></span>
        &nbsp;
        <i class="material-icons like basic">favorite_border</i>
        <span class="icon-side-count"><%= topic.likes_count %></span>
      </div>
      <div class="collection-item-footer">
        <span class="indexitem-footer-text">
          <%= link_to user_path(topic.user_id) do %>
            <% if topic.user.avatar.present? %>
              <%= image_tag topic.user.avatar, {:class => "circle custom", :id => "index-author-image"} %>
            <% else %>
              <%= image_bundle_tag "no_user_image.png", {:class => "circle custom", :id => "index-author-image"} %>
            <% end %>
          <% end %>
          <%= atname(topic.user.nickname) %>&nbsp;&nbsp;
        </span>
      </div>
    </div>
  </div>
<% end %>