<%= link_to topic_path(topic_card.id) do %>
  <div class="topics-index card">
    <div class="topics-index card-image">
      <% if topic_card.header_img_url.present? %>
        <%= image_tag topic_card.header_img_url %>
      <% else %>
        <%= image_bundle_tag "teppan_gray.jpeg" %>
      <% end %>
    </div>
    <div class="topics-index card-content">
      <div class="topics-index__title"><%= truncate(topic_card.title, length: 14) %></div>
      <div class="topics-index__postdata">
        <% if topic_card.max_rate == 0 %>
          <span class="js-topics-index__star" rating-data="0"></span>
        <% else %>
          <span class="js-topics-index__star" rating-data="<%= topic_card.max_rate %>"></span>
          <span class="topics-index__star-count"><%= format("%.2f", topic_card.max_rate) %></span>
        <% end %>
        <i class="topics-index__neta-icon material-icons">create</i>
        <span class="topics-index__icon-count"><%= topic_card.netas_count %></span>
      </div>
      <div class="topics-index__author">
        <%= link_to user_path(topic_card.user_id) do %>
          <% if topic_card.user.avatar_img_url.present? %>
            <%= image_tag topic_card.user.avatar_img_url, {:class => "topics-index__author-image"} %>
          <% else %>
            <%= image_bundle_tag "no_user_image.png", {:class => "topics-index__author-image"} %>
          <% end %>
          <span class="topics-index__author-name"><%= topic_card.user.nickname %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>