<% if @topic.header_img_url.present? %>
  <%= image_tag @topic.header_img_url, :class => 'topic__header-image' %>
<% end %>
<h1 class="topic__title"><%= @topic.title %></h1>
<div class="topic__text">
  <%= @topic.content %>
  <% if user_signed_in? %> 
    <% if @topic.editable(current_user) %>
      <%= link_to '編集', edit_topic_path(@topic.id) %>
    <% end %>
  <% end %>
</div>
<div class="topic__footer">
  <%= link_to user_path(@topic.user_id) do %>
    <% if @topic.user.avatar.present? %>
      <%= image_tag @topic.user.avatar, {:class => "topic__author-image"} %>
    <% else %>
      <%= image_bundle_tag "no_user_image.png", {:class => "topic__author-image"} %>
    <% end %>
  <% end %>
  <span class="topic__footer-text">
    <%= @topic.user.nickname %>&nbsp;&nbsp;
    <%= @topic.created_at.to_s(:human) %>&nbsp;&nbsp;
  </span>
  <div class="topic__footer-icons">
    <% if (user_signed_in? && @owner == false) %>
      <span id="likes_buttons_<%= @topic.class.name.downcase %>_<%= @topic.id %>">
        <%= render partial: 'likes/like', locals: { likeable: @topic } %>
      </span>
      <span id="bookmark_buttons_<%= @topic.class.name.downcase %>_<%= @topic.id %>">
        <%= render partial: 'bookmarks/bookmark', locals: { bookmarkable: @topic } %>
      </span>
    <% else %>
      <i class="like-large--inactive material-icons">favorite_border</i>
      <span class="like__count--inactive"><%= @topic.likes_count %></span>&nbsp;&nbsp;
      <i class="bookmark-large--inactive material-icons">bookmark_border</i>
    <% end %>
  </div>
</div>
