<div class="topic-form__header-img">
  <%= form.label :header_image, "ヘッダー画像 : ", :class => "topic-form__header-img-label" %><br>
  <% if @topic.header_image.attached? %>
    <span class="topic-form__header-img-filename"><%= @topic.header_image.filename %></span>
    <span class="topic-form__header-img-deletelink">
      <%= link_to "削除", delete_header_image_topic_path(@topic.id), :method => :delete %>
    </span><br>
    <%= image_tag @topic.header_image, :class => 'topic-form__header-img-content' %><br>
  <% else %>
    <%= form.file_field :header_image, :class => 'topic-form__header-img-filefield' %><br>
  <% end %>
</div>
<div class="topic-form__title">
  <%= form.label :title, "テーマ・お題", :class => "topic-form__title-label" %>
  <%= form.text_field :title, :maxlength => '35', :class => "topic-form__title-text" %>
</div>
<div class="topic-form__content">
  <%= form.label :content, "本文", :class => "topic-form__content-label" %>
  <%= form.rich_text_area :content, :class => "topic-form__content-textarea"  %>
</div>
<div class="topic-form__private">
  <%= form.label :private_flag, "公開／非公開", :class => "topic-form__private-label"  %>
  <%= form.select :private_flag, [['公開', false], ['非公開', true]], { include_blank: false, selected: @topic.private_flag }, { class: "browser-default", :id => "topic-form__private-flag" } %>
</div>