<%= javascript_bundle_tag 'topic' %>
<% @page_title = @topic.title + "（編集）" %>
<% breadcrumb :edit_topic, @topic %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m6 topic">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div>
      <div class="row topic-edit">
        <h1>トピック編集</h1>
        <%= form_with model: @topic, local: true, method: :patch do |form| %>
          <% if @topic.errors.any? %>
            <%= render :partial => "errorform" %>
          <% end %>
          <%= render :partial => "topicform", locals: { form: form } %>
          <%= button_tag :type => "submit", class: "topic-new__submit btn waves-effect" do %>
            <i class="topic-edit__submit material-icons left">refresh</i>更新
          <% end %>
          <%= link_to topic_path(@topic.id), {:method => :delete, :class => 'topic-new__submit btn waves-effect', data: { confirm: "本当にトピックを削除しますか？" }} do %>
            <i class="topic-edit__submit material-icons left">delete</i>
            <span>削除</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>