<%= javascript_pack_tag 'raty' %>
<%= javascript_pack_tag 'custom' %>
<% @page_title = "トピック一覧" %>
<% breadcrumb :topics %>
<div class="page-body-container">
  <p><%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %></p>
  <div class="row topic-index">
    <div class="col s12 m9 topics-list">
      <ul class="collection z-depth-1">
        <%= render partial: "topics/topic", collection: @topics %>
        <li><%= paginate(@topics) %></li>
      </ul>
    </div>
    <div class="col s12 m3 topics-ranking z-depth-1">
      <div class="ranking-data">
        <b>トレンド</b><br><br>
        <% @hashtag_ranking.each do |key, value| %>
          <%= link_to "#"+value[1], "/neta/hashtag/#{value[1]}" %><br>
          <p class="hashtrendlist-footer-text">
            <%= value[2] %>&nbsp;views&nbsp;&nbsp;
            <i class="material-icons post custom">create</i>
            <span class="icon-side-count"><%= value[3] %></span><br>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn horizontal">
  <!-- Modal Trigger -->
    <a class="btn-floating modal-trigger light-green accent-4" data-target="search-modal">
      <i class="material-icons">search</i>
    </a>&nbsp;&nbsp;
    <% if user_signed_in? %>
      <%= link_to new_topic_path, {:class => 'btn-floating light-green accent-4'} do %>
        <i class="material-icons">create</i>
      <% end %>&nbsp;&nbsp;
    <% end %>
  </div>
  <!-- Modal Structure -->
  <div id="search-modal" class="modal">
    <div class="modal-content">
      <h2 class="h2_class">絞り込み検索</h2>
      <%= search_form_for(@search, url: topics_path, html: {method: :get, :class => 'browser-default', role: 'form'}) do |f| %>
        <%= f.label :topic, 'キーワード' %><br>
        <%= f.text_field :title_or_text_or_netas_text_or_user_nickname_cont, class: "browser-default" %><br>
        <%= f.label :neta_count, '投稿数' %><br>
        <%= f.number_field :netas_count_gteq, min: 0, step: 1, class: "browser-default" %><br>
        <%= button_tag '検索', :type => "submit", class: "btn btn-primary withripple custom" %>
      <% end %>
    </div>
  </div>
</div>