<% @page_title = "トピック一覧" %>
<% breadcrumb :topics %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 topics">
      <div class="row topics-pageheader">
        <div class="col s6 m6 topics-breadcrumbs">
          <%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs-tp" %>
        </div>
        <div class="col s6 m6 topics-search">
          <%= search_form_for(@search, url: topics_path, html: {method: :get, :class => 'topics-search__form', role: 'form'}) do |f| %>
            <%= f.text_field :title_or_netas_title_or_user_nickname_cont, :class => 'topics-search__input', :placeholder => 'キーワード検索', :autocomplete => 'off' %>
            <i class="topics-search__icon material-icons">search</i>
          <% end %>
        </div>
      </div>
      <div class="row topics-index">
        <%= render partial: "topics/topic_card", collection: @topic_cards %>
      </div>
      <div class="row topics-pagination">
        <%= paginate(@topic_cards) %>
      </div>
      <div class="row topics-trend">
        <h2>トレンド</h2>
        <% @hashtag_ranking.each do |key, value| %>
          <div class="topics-trend__hashtag"><%= link_to "#"+value[1], "/hashtags/netas?keyword=#{value[1]}" %></div>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= link_to new_topic_path, {:class => 'topics-new btn-floating'} do %>
          <i class="topics-new__icon material-icons">create</i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>