<% @page_title = "新規トピック" %>
<% breadcrumb :new_topic %>
<div class="page-body-container">
  <p><%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %></p>
  <div class="row">
    <div class="col s12 m9 show">
      <h1 class="h1_class">新規トピック</h1>
      <div class="card z-depth-0">
        <%= form_with url: topics_path, local: true, method: :post do |form| %>
          <% if @topic.errors.any? %>
            <%= render :partial => "errorform" %>
          <% end %>
          <%= render :partial => "topicform", locals: { form: form } %>
          <%= button_tag :type => "submit", class: "btn btn-primary withripple custom" do %>
            <i class="material-icons left">create</i>投稿
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>