<% @page_title = @topic.title %>
<% breadcrumb :show_topic, @topic %>
<div class="page-body-container">
  <p><%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %></p>
  <div class="row">
    <div class="col s12 m10 topic-show">
      <h1 class="h1-topic"><%= @topic.title %></h1>
      <%= render partial: "topics/topicbody" %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 topic-show">
      <h2 class="h2-topic">投稿ネタ(<%= @netas.count %>)</h2>
      <% if @netas %>
        <ul class="collection z-depth-1">
        <%= render partial: "netas/neta", :collection => @netas %>
        </ul>
      <% else %>
        <div class="indent-wrapper">
          <p> (投稿はまだありません) </p>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="fixed-action-btn horizontal">
          <%= link_to new_topic_neta_path(@topic.id), {:class => 'btn-floating light-green accent-4'} do %>
            <i class="material-icons">create</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 topic-show">
      <h2 class="h2-topic">トピックへのコメント(<%= @comments.count %>)</h2>
      <% unless @comments %>
        <div class="indent-wrapper">
          <p> (投稿はまだありません) </p>
        </div>
        <% if user_signed_in? %>
          <ul class="collection z-depth-1">
            <%= render partial: "comments/newcomment", locals: { commentable: @topic, newcomment: @newcomment } %>
          </ul>
        <% end %>
      <% else %>
        <ul class="collection z-depth-1">
          <%= render partial: "comments/comment", :collection => @comments %>
          <% if user_signed_in? %>
            <%= render partial: "comments/newcomment", locals: { commentable: @topic, newcomment: @newcomment } %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
