<%= javascript_bundle_tag 'hashtag-autocomplete' %>
<% @page_title = "#"+@tag.hashname %>
<% breadcrumb :hashtag, @tag %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m6 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div> 
      <%= form_with url: hashtags_netas_path, local: true, method: :get, :class => 'hashtag-index__search-form', :id => 'hashtag_search_form' do |f| %>
        <%= f.text_field :keyword, :value => params[:keyword], :class => "js-hashtag-index__search-input" %>
        <%= f.hidden_field :hashname, :value => "search" %>
        <i class="hashtag-index__search-icon material-icons">search</i>
      <% end %>
      <% unless @netas %>
        <div> (ネタの投稿はまだありません) </div>
      <% else %>
        <h1>#<%= @tag.hashname %></h1>
        <ul class="hashtag-index__netas collection">
          <%= render partial: "netas/neta", :collection => @netas %>
        </ul>
      <% end %>
    </div>
  </div>
</div>