<% if likeable.class.name == "Topic" %>
  <% if likeable.likes.find_by(user: current_user) %>
    <%= link_to topic_like_path(likeable.id, likeable.likes.find_by(user: current_user).id), method: :delete, remote: true do %>
      <i class="like-large material-icons">favorite</i>
    <% end %>
  <% else %>
    <%= link_to topic_likes_path(likeable.id), method: :post, remote: true do %>
      <i class="like-large material-icons">favorite_border</i>
    <% end %>
  <% end %>
<% end %>
<% if likeable.class.name == "Comment" %>
  <% if likeable.likes.find_by(user: current_user) %>
    <%= link_to comment_like_path(likeable.id, likeable.likes.find_by(user: current_user).id), method: :delete, remote: true do %>
      <i class="like-large material-icons">favorite</i>
    <% end %>
  <% else %>
    <%= link_to comment_likes_path(likeable.id), method: :post, remote: true do %>
      <i class="like-large material-icons">favorite_border</i>
    <% end %>
  <% end %>
<% end %>
<span class="like__count"><%= likeable.likes_count %></span>