<li class="collection-item avatar custom">
  <p>
    <%= link_to user_path(bought_neta.user_id) do %>
    <%= image_bundle_tag bought_neta.user.avatar, {:class => "circle custom", :id => "mycircle"} %>
    <% end %>
  </p>
  <%= link_to neta_path(bought_neta.id) do %>
    <p class="collection-item-title truncate"><%= remove_hashtags(bought_neta.text) %></p>
    <% if bought_neta.average_rate == "-" %>
      <span class="star_rating" rating-data="0"></span>
    <% else %>
      <span class="star_rating" rating-data="<%= bought_neta.average_rate %>"></span>
      <span class="star-rating-text">&nbsp;&nbsp;<%= bought_neta.average_rate %></span>
    <% end %>
    &nbsp;&nbsp;&nbsp;
    <i class="material-icons comment custom">chat_bubble_outline</i>
    <span class="icon-side-count"><%= bought_neta.reviews.count %></span>
    <p>
      <% bought_neta.hashtags.each do |tag| %>
        <div class="chip custom"><%= link_to "#"+tag.hashname, "/hashtags?keyword=#{tag.hashname}" %></div>
      <% end %>
    </p>
    <div class="collection-item-footer">
      <p class="neta-footer-text">
        <%= bought_neta.user.nickname %>&nbsp;さんから
        <%= @bought_trades.find_by(tradeable_id: bought_neta.id).price %>&nbsp;円で購入
      </p>
    </div>
  <% end %>
</li>
