<li class="collection-item custom">
  <%= link_to neta_path(myneta.id) do %>
    <p class="collection-item-title truncate"><%= remove_hashtags(myneta.text) %></p>
    <p class="collection-item-text">
      <% if myneta.price != 0 %>
        <span class="neta-price"><%= myneta.price %>&nbsp;円&nbsp;&nbsp;</span>
      <% end %>
    </p>
    <% if myneta.average_rate == "-" %>
      <span class="star_rating" rating-data="0"></span>
    <% else %>
      <span class="star_rating" rating-data="<%= myneta.average_rate %>"></span>
      <span class="star-rating-text">&nbsp;&nbsp;<%= myneta.average_rate %></span>
    <% end %>
    &nbsp;&nbsp;&nbsp;
    <i class="material-icons comment custom">chat_bubble_outline</i>
    <span class="icon-side-count"><%= myneta.reviews_count %></span>
    <p>
      <% myneta.hashtags.each do |tag| %>
        <div class="chip custom"><%= link_to "#"+tag.hashname, "/neta/hashtag/#{tag.hashname}" %></div>
      <% end %>
    </p>
    <div class="collection-item-footer">
      <p class="neta-footer-text">
        <%= myneta.created_at.to_s(:human) %>&nbsp;&nbsp;
        <%= myneta.pageviews_count %>&nbsp;views&nbsp;&nbsp;
        <%= myneta.public_str %>
      </p>
      <p class="neta-footer-icons">

      </p>
    </div>
  <% end %>
</li>
