<%= javascript_bundle_tag 'user' %>

<ul class="user-show-contents__tab-menu">
  <li class="user-show-contents__tab-index">投稿</li>
  <li class="user-show-contents__tab-index">購入</li>
  <li class="user-show-contents__tab-index">販売</li>
  <li class="user-show-contents__tab-index">アカウント</li>
</ul>
<div class="user-show-contents__tab-panel">

  <h2>投稿ネタ(<%= @posted_netas_count %>件)</h2>
  <% if @posted_netas_count != 0 %>
    <ul class="user-show-contents__netas collection">
      <%= render partial: "netas/neta", collection: @posted_netas %>
    </ul>
  <% else %>
    <p>（投稿はありません）</p>
  <% end %>

  <% if @draft_netas_count != 0 %>
    <hr>
    <h2>下書きネタ(<%= @draft_netas_count %>件)</h2>
    <ul class="user-show-contents__netas collection">
      <%= render partial: "netas/neta", collection: @draft_netas %>
    </ul>
  <% end %>

  <hr>
  <h2>投稿トピック(<%= @posted_topics_count %>件)</h2>
  <% if @posted_topics_count != 0 %>
    <div class="user-show-contents__topics clearfix">
      <%= render partial: "topics/topic_card", collection: @posted_topics %>
    </div>
  <% end %>
  
  <% if @draft_topics.count != 0 %>
    <hr>
    <h2>下書きトピック(<%= @draft_topics_count %>件)</h2>
    <div class="user-show-contents__topics">
      <%= render partial: "topics/topic_card", collection: @draft_topics %>
    </div>
  <% end %>
</div>
<div class="user-show-contents__tab-panel">

  <h2>購入ネタ(<%= @bought_netas_count %>件)</h2>
  <% if @bought_netas_count != 0 %>
    <ul class="user-show-contents__netas collection">
      <%= render partial: "netas/neta", collection: @bought_netas %>
    </ul>
  <% else %>
    <p>（ネタはありません）</p>
  <% end %>

  <hr>

  <h2>ブックマークしたネタ(<%= @bookmarked_netas_count %>件)</h2>
  <% if @bookmarked_netas_count != 0 %>
    <ul class="user-show-contents__netas collection">
      <%= render partial: "netas/neta", collection: @bookmarked_netas %>
    </ul>
  <% else %>
    <p>（ネタはありません）</p>
  <% end %>

  <hr>
  
  <h2>ブックマークしたトピック(<%= @bookmarked_topics_count %>件)</h2>
  <% if @bookmarked_topics_count != 0 %>
    <div class="user-show-contents__topics">
      <%= render partial: "topics/topic_card", collection: @bookmarked_topics %>
    </div>
  <% else %>
    <p>（トピックはありません）</p>
  <% end %>
</div>
<div class="user-show-contents__tab-panel">

  <h2>ビジネスアカウント</h2>
  <% unless @premium_user[0] %>
  <div class="user-show-contents__n-advance">
    有料ネタの販売を開始するためには、下記の条件を満たす必要があります。<br>
    レビュー平均<b>3.0以上</b>の無料ネタを<b>3つ以上</b>投稿<br>
    <br>
    <table class="striped">
      <tbody>
        <tr>
          <td class="table-30">無料ネタ</td>
          <td class="table-50"><%= @premium_user[2] %>件</td>
          <td class="table-20">
            <% if @premium_user[2] >= 3 %>
              <span class="user-show-contents__free-neta-check--pass material-icons">check_circle</span>
            <% else %>
              <span class="user-show-contents__free-neta-check--fail material-icons">cancel</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="table-30">評価平均</td>
          <td class="table-50">
            <span class="js-user-show-profile__star" rating-data="<%=@premium_user[1] %>"></span>
            <span class="user-show-contents__rating">&nbsp;&nbsp;<%= format("%.2f", @premium_user[1]) %></span>
          </td>
          <td class="table-20">
            <% if @premium_user[1] >= 3 %>
              <span class="user-show-contents__free-neta-check--pass material-icons">check_circle</span>
            <% else %>
              <span class="user-show-contents__free-neta-check--fail material-icons">cancel</span>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>

  <% unless @account_exists %>
    <% if @premium_user[0] %>
      <%= link_to 'お申し込み', new_user_account_path(@user.id), :method => :get, :class => "user-show-contents__links btn waves-effect" %>
    <% else %>
      <div class="user-show-contents__links--inactive btn">お申し込み</div>
    <% end %>
  <% else %>
    <%= link_to '詳細', account_path(@user.stripe_account.id), :class => "user-show-contents__links btn waves-effect" %>
  <% end %>
  <hr>

  <h2>販売実績</h2>
  <% if @account_exists && @sold_netas_info[0] %>
    <table class="user-show-contents__trades striped">
      <thead>
        <tr>
          <th class="table_header_item">日時</th>
          <th class="table_header_item">ネタ</th>
          <th class="table_header_item">価格</th>
          <th class="table_header_item">購入者</th>
          <th class="table_header_item">評価</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "users/sold_trade", collection: @sold_netas_info[1] %>
      </tbody>
    </table>
  <% else %>
    (販売履歴はありません)<br>
  <% end %>
  <br>

</div>
<div class="user-show-contents__tab-panel">

  <div class="user-show-contents__links">
    <h2>ユーザー情報</h2>
      <%= link_to 'プロフィール編集', edit_user_path(current_user.id), :class => "user-show-contents__links btn waves-effect" %>&nbsp;&nbsp;
    <% unless @user.provider %>
      <%= link_to 'パスワード変更', edit_user_registration_path(current_user), :class => "user-show-contents__links btn waves-effect" %><br>
    <% end %>
  </div>

  <hr>  
  <div class="user-show-contents__links">
    <h2>お申込プラン</h2>
      <%= link_to '有料プラン申込', new_user_subscription_path(@user.id), :method => :get, :class => "user-show-contents__links btn waves-effect" %>
  </div>

</div>
