<tr>
  <td class="table_body_item"><%= sold_trade["traded_at"].strftime("%Y/%m/%d %H:%M") %></td>
  <td class="table_body_item"><%= sold_trade["text"] %></td>
  <td class="table_body_item"><%= sold_trade["price"] %></td>
  <td class="table_body_item"><%= sold_trade["buyer_nickname"] %></td>
  <td class="table_body_item"><%= sold_trade["review_rate"] %></td>
</tr>