<%= javascript_pack_tag 'custom' %>
<% @page_title = "プロフィール編集" %>
<% breadcrumb :edit_user, current_user %>
<div class="page-body-container">
  <p><%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %></p>
  <div class="row">
    <div class="col s12 m9 user-page">
      <h1 class="h1_class">プロフィール編集</h1>
      <ul class="collection z-depth-1 user-page">
        <% if @no_nickname %>
          <%= form_for @user do |f| %>
            ユーザー名を登録しましょう！
            <div class="user-form-nickname">ユーザー名
              <%= f.text_field :nickname, placeholder: @temp_nickname, :class => "browser-default" %>
            </div>
            <%= f.submit "保存", class: "btn btn-primary withripple custom" %>
          <% end %>
        <% else %>
          <%= form_for @user do |f| %>
            <div class="user-profile-edit-tophalf">
              <div class="col s3 m3 user-page-left">
                <div class="user-page-avatar-container">
                  <%= image_tag @user.avatar, {:class => "circle", :id => "user-page-image"} %>
                </div>
                <label>
                  <div class="filelabel" title="ファイルを選択">
                    <i class="material-icons photo-upload custom">photo_camera</i>
                  </div>
                  <%= f.file_field :image, {:id => "user-image-upload"} %>
                </label>
                <div class="user-profile-completion">
                  完成度(<%= @profile_gauge %>%)
                  <div class="progress custom">
                    <div class="determinate" style="width: <%= @profile_gauge.to_s %>%"></div>
                  </div>
                </div>
              </div>
              <div class="col s9 m9 user-page-info">
                <div class="user-form-nickname">ユーザー名
                  <%= f.text_field :nickname, placeholder: "ユーザー名", :class => "browser-default" %>
                </div>
                <div class="birth_date_fields">生年月日<br>
                  <%= f.date_select :birthdate, 
                        { :start_year => 1930, 
                          :end_year => (Time.zone.now.year - 18),
                          :include_blank => true },
                        { :class => 'form-control date-select' } %>
                </div>
                
                <div class="prefecture_form">エリア
                  <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {:include_blank => '都道府県'}, {class: 'form-control prefecture'} %>
                </div>
      
                <div class="gender_form">
                  <%= f.radio_button :gender, 1, {:class => 'with-gap'} %><label for="user_gender_1">男性</label>
                  <%= f.radio_button :gender, 2, {:class => 'with-gap'} %><label for="user_gender_2">女性</label>
                </div>
              </div>
            </div>
            <div class="user-profile-edit-bottomhalf">
              <div class="user-introduction">
                <p>自己紹介文</p>
                <%= f.text_area :introduction, style: 'width: 100%; height: 200px;', maxlength: 800, placeholder: "（８００字以内）" %>
              </div>
              <%= f.submit "更新", class: "btn btn-primary withripple custom" %>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>