<% @page_title = @user.nickname %>
<% breadcrumb :show_user, @user %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div>
      <div class="row user-show-profile__upper">
        <div class="col s4 m3 user-show-profile__left">
          <div class="user-show-profile__avatar-container">
            <% if @user.avatar_img_url.present? %>
              <%= image_tag @user.avatar_img_url, { :class => "user-show-profile__avatar-img" } %>
            <% else %>
              <%= image_bundle_tag "no_user_image.png", { :class => "user-show-profile__avatar-img" } %>
            <% end %>
          </div>
        </div>
        <div class="col s8 m9 user-show-profile__right">
          <h1 class="user-show-profile__nickname"><%= @user.nickname %></h1>
          <div class="user-show-profile__basic">
            <% if @userrate == 0 %>
              総合評価&nbsp;&nbsp;<span class="js-user-show-profile__star" rating-data="0"></span>&nbsp;
            <% else %>
              総合評価<br>
              <span class="js-user-show-profile__star" rating-data="<%= @userrate %>"></span>&nbsp;&nbsp;
              <span class="user-show-profile__rating"><%= format("%.2f", @userrate ) %></span>
            <% end %>
          </div>
          <div class="user-show-profile__sns">
            <div class="user-show-profile__follow">

                <div class="user-show-profile__following">
                  <%= link_to user_followings_path(@user.id) do %>
                    <div class="user-show-profile__follow-tag">フォロー中</div>
                    <div class="user-show-profile__follow-count"><%= @following_users_count %></div>
                  <% end %>
                </div>
             
              <div class="user-show-profile__followed">
                <%= link_to user_followers_path(@user.id) do %>
                  <div class="user-show-profile__follow-tag">フォロワー</div>
                  <div class="user-show-profile__follow-count"><%= @followed_users_count %></div>
                <% end %>
              </div>
            </div>
            <br>
            <% unless @my_page %>
              <% unless @user.is_blocked_by(current_user.id) %>
                <span id="follows_buttons_<%= @user.id %>">
                  <%= render partial: 'followers/follow', locals: { user: @user, followed_users_count: @followed_users_count } %>
                </span>
                <%= link_to new_user_violation_path(@user.id) do %>
                  <i class="user-show-profile__more material-icons">more_horiz</i>
                <% end %>
              <% else %>
                <span class="user-show-profile__reported"><違反報告済></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      <div class="row user-show-profile__lower">
        <div class="user-show-profile__introduction"><%= @user.introduction %></div>
      </div>
      <div class="row user-show-contents">
        <% if @my_page %>
          <%= render partial: "users/mypage" %>
        <% else %>
          <%= render partial: "users/notmypage" %>
        <% end %>
      </div>
    
  </div>
</div>

