<% @page_title = "出金完了" %>
<% breadcrumb :create_payout, @account %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div>
      <div class="row payout-create">
      <h1>出金完了</h1>
      <table class="striped">
        <tbody>
          <tr>
            <td class="table-40"><b>お振込金額</b></td>
            <td class="table-60"><b><%= @stripe_payout[1]["amount"] %>&nbsp;&nbsp;円</b></td>
          </tr>
          <tr>
            <td class="table-40"><b>お振込予定日</b></td>
            <td class="table-60"><b><%= Time.zone.at(@stripe_payout[1]["arrival_date"].to_i).strftime("%Y/%m/%d") %></b></td>
          </tr>
        </tbody>
      </table>
      <br>
      <% if @bank_info[1]["account_number"].present? %>
        <%= render :partial => "business/accounts/extacct", locals: { bank_info: @bank_info[1] } %>
      <% end %>
      <br><br>
      <%= link_to 'ビジネスアカウントへ戻る', account_path(@account.id), :class => "payout-create__btn btn waves-effect" %>
    </div>
  </div>
</div>