<% @page_title = "銀行口座へ出金" %>
<% breadcrumb :new_payout, @account %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div>
      <div class="row payout-new">
        <h1>銀行口座へ出金</h1>
        <%= form_with url: account_payouts_path(@account.id), local: true, method: :post, :class => "payout-new__form" do |f| %>
          <%= render :partial => "business/accounts/balance", locals: { balance_info: @balance[1] } %>
          <% if @bank_info[1]["account_number"].present? %>
            <%= render :partial => "business/accounts/extacct", locals: { bank_info: @bank_info[1] } %>
            <%= link_to '口座変更', edit_account_extacct_path(@account.id), :class => "payout-new__submit btn waves-effect" %><br>
          <% end %><br><br>
          <table class="highlight">
            <tbody>
              <tr>
                <td class="table-40"><b>出金額</b></td>
                <td class="table-60"><b><%= f.number_field :amount, :class => "payout-new__amount-payout" %><span class="">&nbsp;&nbsp;円</span></b></td>
              </tr>
            </tbody>
          </table>
          <% if @balance[1]["available"][0]["amount"].to_i > 10 %>
            <%= f.submit "出金実行", data: {disable_with: '処理中...'}, :class => "payout-new__submit btn waves-effect" %>
          <% else %>
            <div class="payout-new__btn btn inactive">出金実行</div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>