<% @page_title = "違反報告・ブロック" %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 content">
      <h1>違反報告</h1>
      <%= form_with model: [@user, @violation], url: user_violations_path, local: true, method: :post, :class => 'violation-new__form' do |f| %>
        <div class="violation-new__target-user">報告対象：<%= link_to @user.nickname, user_path(@user.id) %></div>
        <%= f.check_box :block, :class => 'reset-checkbox', :as => :boolean, :required => true %>
        <%= f.label :block, 'ユーザーをブロック' %>
        <br><br>
        <%= f.label :text, '違反内容' %>
        <%= f.text_area :text, :class => 'violation-new__text', placeholder: "４００字以内", maxlength: 400 %>
        <%= f.submit "報告する", :class => "violation-new__submit btn waves-effect" %>
      <% end %>
    </div>
  </div>
</div>

