<div class="row">
  <div class="col s12 m9 offset-m1">
    <h1 class="h1_class">リクエスト</h1>
    <ul class="collection z-depth-1">
      <li class="collection-item avatar">
        <p>
          <%= image_tag @request.user.avatar, {:class => "circle"} %>
          <%= link_to atname(@request.user.nickname), user_path(@request.user_id) %>
        </p>
        <p>説明：<%= @request.text %></p>
        <p>期限：<%= @request.nextdate.strftime('%Y/%m/%d') %></p>
        <p>報酬：<%= @request.price %></p>
        <p>依頼者：<%= link_to @request.user.nickname, user_path(@request.user_id) %></p>
        <p>受注者：<%= link_to @assignee.nickname, user_path(@assignee.id) %></p>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <% if @viewable == true %>
  <div class="col s12 m9 offset-m1">
  <h1 class="h1_class">提供されたネタ</h1>
    <ul class="collection z-depth-1">
      <li class="collection-item avatar">
        <p>
          <%= image_tag @assignee.avatar, {:class => "circle"} %>
          <%= link_to atname(@assignee.nickname), user_path(@assignee.id) %>
        </p>    
      <%= @neta.text %><br>
      </li>
    </ul>
  </div>
  <% else %>
  <div class="col s12 m9 offset-m1">
    <%= @not_viewable_message %><br><br>
    <%= link_to "戻る", requests_path %>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col s12 m7 offset-m1">
  <% if @reviews.present? %>
    <h1 class="h1_class">レビュー</h1>
    <ul class="collection z-depth-1">
      <% @reviews.each do |review| %>
      <li class="collection-item avatar">
        評価：<%= review.rate %><br>
        <%= review.text %>
      </li>
      <% end %>
    </ul>
  <% else %>
    <% if @viewable == true %>
    <ul class="collection z-depth-1">
        <% @comments.each do |comment| %>
          <li class="collection-item avatar" >
            <%= link_to comment.user.nickname, user_path(comment.user_id) %><br>
            <%= comment.text %><br><br>
          </li>
        <% end %>
        <li class="collection-item" >
          <%= form_for [@neta, @newreview] do |f| %>
            <p>評価（1~10）</p> <%= f.select :rate, [10, 9, 8, 7, 6, 5, 4, 3, 2, 1], {}, {class: 'browser-default'} %>
            <p>レビュー文：</p>
            <%= f.text_area :text, style: 'width: 100%; height: 100px;' %><br>
            <%= f.hidden_field :neta_id, :value => @neta.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= button_tag :type => "submit", class: "btn btn-primary withripple custom" do %>
              <i class="material-icons left">create</i>投稿
            <% end %>
          <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>
  </div>
</div>
