<% @page_title = "銀行口座登録" %>
<% breadcrumb :new_bankacct, @account %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m6 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div> 
      <div class="row bankacct-new">
        <h1>銀行口座登録</h1>
        <%= form_with model: @ext_acct_form, method: :post, url: account_bank_path(@account.id), local: true, :class => "bankacct-form" do |form| %>
          <% if @ext_acct_form.errors.any? %>
            <%= render :partial => "bankaccts/errorform" %>
          <% end %>
          <%= render :partial => "ext_acct_form", locals: { f: form } %>
          <div class="bankacct-form__submit">
            <%= form.submit "登録", data: {disable_with: '送信中...'}, class: "bankacct-form__submit btn waves-effect" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>