<div class="page-body-container">
  <div class="row">
    <div class="col s12 m9 user-page">
      <h1 class="h1_class"><%= @direction %>(<%= @follow_list.count %>)</h1>
      <% if @follow_list %>
        <ul class="collection">
          <% @follow_list.each do |following_user| %>
            <li class="collection-item avatar custom">
              <%= link_to user_path(following_user.id) do %>
                <%= image_pack_tag following_user.avatar, {:class => "circle"} %>
                <div class="collection-item-text">
                  <%= atname(following_user.nickname) %><br>
                  <p>フォロワー&nbsp;&nbsp;<b><%= following_user.follows.count %></b></p>
                  <% if following_user.average_rate == "-" %>
                    ネタ平均評価&nbsp;<span class="star_rating" rating-data="0"></span>&nbsp;
                    <span class="star-rating-text-user-page"><%= following_user.average_rate %></span>
                  <% else %>
                    ネタ平均評価&nbsp;<span class="star_rating" rating-data="<%= following_user.average_rate %>"></span>&nbsp;
                    <span class="star-rating-text-user-page"><%= following_user.average_rate %></span>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>（ユーザーはいません）</p><br><br>
      <% end %>
    </div>
  </div>
</div>