<%= javascript_pack_tag 'custom' %>
<div class="row">
  <div class="col s12 m6">
    <h1 class="h1_class">応募フォーム</h1>
    <div class="card white">
      <div class="card-content black-text">
        <%= form_for [@request, @offer] do |f| %>
          <p>所要日数</p><%= f.number_field :required_days, min: 1, step: 1 %>
          <p>価格</p><%= f.number_field :price, min: 0, step: 10 %>
          <p>コメント</p><%= f.text_area :text, placeholder: "条件や要望があれば書いて下さい", style: 'width: 100%; height: 100px;' %>
          <br>
          <%= f.submit "投稿", class: "btn btn-primary withripple custom" %>
        <% end %>
      </div>
    </div>
  </div>
</div>