<div class="page-body">
  <div class="row">
    <div class="col s12 m6 content">
      <h2>新しいパスワードを入力してください。</h2>

      <%= form_with model: @user, url: user_password_path, local: true, method: :put, :class => "user-password-edit__form" do |f| %>
        <div class="user-password-edit__error">
          <%= devise_error_messages! %>
        </div>
        <%= f.hidden_field :reset_password_token %>
      
        <div class="user-password-edit__field">
          <%= f.label :password, "新しいパスワード", :class => 'user-password-edit__field-label' %>
          <% if @minimum_password_length %>
            <span class="user-password-edit__field-label">(<%= @minimum_password_length %>文字以上)</span><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => 'user-password-edit__field-input' %>
        </div>
      
        <div class="user-password-edit__field">
          <%= f.label :password_confirmation, "新しいパスワード（確認）", :class => 'user-password-edit__field-label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'user-password-edit__field-input' %>
        </div>
      
        <%= f.submit "パスワード変更", :class => "user-password-edit__submit btn waves-effect" %>
      <% end %>

    </div>
  </div>
</div>