<div class="page-body">
  <div class="row">
    <div class="col s12 m12 content">
      <h2>ご登録のメールアドレスにパスワード再設定のご案内を送ります。</h2>
      <%= form_with model: @user, url: user_password_path, local: true, method: :post, :class => "user-password-new__form" do |f| %>
        <div class="user-password-new__error">
          <%= devise_error_messages! %>
        </div>
        
        <div class="user-password-new__email">
          <%= f.label :email, :class => 'user-password-new__email-label' %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "off", :class => 'user-password-new__email-input' %>
        </div>
        
        <%= f.submit "メール送信", :class => "user-password-new__submit btn waves-effect" %>
      <% end %>
    </div>
  </div>
</div>
