<table class="striped">
  <tbody>
    <tr>
      <td class="table-40">
        表面： 
        <% if @frontcard.present? %>
          <%= @frontcard.image.filename %>
        <% else %>
          (なし)
        <% end %>
      </td>
      <td class="table-60">
        <% if @frontcard.present? %>
          <%= link_to '削除', idcard_path(@frontcard.id), :method => :delete, :class => "account-show__btn btn waves-effect" %>
        <% else %>
          <%= link_to '登録', new_account_idcard_path(@account.id), :class => "account-show__btn btn waves-effect" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="table-40">
        裏面： 
        <% if @backcard.present? %>
          <%= @backcard.image.filename %>
        <% else %>
          (なし)
        <% end %>
      </td>
      <td class="table-60">
        <% if @backcard.present? %>
          <%= link_to '削除', idcard_path(@backcard.id), :method => :delete, :class => "account-show__btn btn waves-effect" %>
        <% else %>
          <%= link_to '登録', new_account_idcard_path(@account.id), :class => "account-show__btn btn waves-effect" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>