<li class="review-index collection-item">
  <span class="js-review-index__star" rating-data="<%= review.rate %>"></span>
  <span class="review-index__star-count"><%= format("%.1f", review.rate) %></span>
  <div class="review-index__text"><%= review.text %></div>
  <div class="review-index__footer">
    <%= link_to user_path(review.user.id) do %>
      <% if review.user.avatar.present? %>
        <%= image_tag review.user.avatar, {:class => "review-index__author-image"} %>
      <% else %>
        <%= image_bundle_tag "no_user_image.png", {:class => "review-index__author-image"} %>
      <% end %>
    <% end %>
    <span class="review-index__footer-text">
      <%= review.user.nickname %>&nbsp;&nbsp;
      <%= review.updated_at.to_s(:human) %>
    </span>
    <span class="review-index__footer-icons">
      <i class="like--large material-icons">favorite_border</i>
      <span class="like__count"><%= review.likes_count %></span>
    </span>
  </div>
</li>