<li class="review-new collection-item">
  <%= form_for [neta, newreview] do |f| %>
    <div class="review-new__prompt">評価して下さい！</div>
    <%= f.hidden_field :rate, id: :reviewnew__rate %>
    <div class="review-new__rate">
      <div class='js-review-new__star'></div>
      <div id="hint1" class="review-new__hint"></div>
    </div>
    <%= f.text_area :text, :placeholder => 'コメントを書いてください', :class => "review-new__textarea", :maxlength => '200' %>
    <div class="review-new__user">
      <%= link_to user_path(current_user.id) do %>
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar, {:class => "review-new__author-image"} %>
        <% else %>
          <%= image_bundle_tag "no_user_image.png", {:class => "review-new__author-image"} %>
        <% end %>
        <span class="review-new__user-name">
          <%= current_user.nickname %>
        </span>
      <% end %>
    </div>
    <%= f.submit "レビューを投稿", class: "review-new__submit btn waves-effect" %>
  <% end %>
</li>