<% @page_title = "レビュー" %>
<% breadcrumb :show_review, @review %>
<div class="page-body-container">
  <p><%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %></p>
  <div class="row">
    <div class="col s12 m9 topic-show">
      <div class="indent-wrapper">
        <h1>レビュー</h1>
      </div>
      <ul class="collection z-depth-0">
        <li class="collection-item avatar custom">
          <%= link_to user_path(@review.user.id) do %>
            <% if @review.user.avatar.present? %>
              <%= image_tag @review.user.avatar, {:class => "circle custom", :id => "mycircle"} %>
            <% else %>
              <%= image_pack_tag "no_user_image.png", {:class => "circle custom", :id => "mycircle"} %>
            <% end %>
          <% end %>
          <span class="star_rating" rating-data="<%= @review.rate %>"></span>
          <span class="star-rating-text">&nbsp;&nbsp;<%= @review.rate %></span>
          <p class="review-text"><%= @review.text %></p>
          <div class="collection-item-footer">
            <span class="review-footer-text">
              <%= atname(@review.user.nickname) %>&nbsp;&nbsp;
              <%= @review.updated_at.to_s(:human) %>&nbsp;&nbsp;&nbsp;
            </span>
            <div class="review-footer-icons">
              <span id="likes_buttons_<%= @review.class.name.downcase %>_<%= @review.id %>">
                <%= render partial: 'likes/like', locals: { likeable: @review } %>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m9 neta-show">
      <div class="indent-wrapper">
        <h1 class="h1_class">コメント(<%= @comments.count %>)</h1>
      </div>
      <% unless @comments %>
        <div class="indent-wrapper">
          <p> (投稿はまだありません) </p>
        </div>
        <% if user_signed_in? %>
          <ul class="collection z-depth-0">
            <%= render partial: "comments/newcomment", locals: { commentable: @review, newcomment: @newcomment } %>
          </ul>
        <% end %>
      <% else %>
        <ul class="collection z-depth-0">
          <%= render partial: "comments/comment", :collection => @comments %>
          <% if user_signed_in? %>
            <%= render partial: "comments/newcomment", locals: { commentable: @review, newcomment: @newcomment } %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>