<div class="page-body">
  <div class="row">
    <div class="col s12 m9 neta-new">
      <h1 class="h1_class"></h1>
      <ul class="collection z-depth-1">
        <%= @message %><br><br>
        振込金額：<b><%= @stripe_payout_hash["amount"] %>&nbsp;円</b><br>
        振込実行日：<b><%= Time.zone.at(@stripe_payout_hash["arrival_date"].to_i).strftime("%Y/%m/%d") %></b><br><br>
        <% if @bank_info["account_number"].present? %>
          <b>振込先</b><br>
            金融機関名：<%= @bank_info["bank_name"] %><br>
            支店名　　：<%= @bank_info["branch_name"] %><br>
            口座番号　：<%= @bank_info["account_number"] %><br>
            口座名義　：<%= @bank_info["account_holder_name"] %><br>
        <% end %>
        <% if false %>
          <br>
          stripe_payout_hash = <%= @stripe_payout_hash %><br><br>
          bank_info = <%= @bank_info %>
        <% end %>
      </ul>
    </div>
  </div>
</div>