<%= javascript_bundle_tag 'trade' %>
<% @page_title = "購入" %>
<% breadcrumb :new_trade, @tradeable %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m6 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div> 
      <div class="row trade-new">      
        <h1>ネタを購入</h1>
        <div class="trade-new__items">
          <table class="striped">
            <tbody>
              <tr>
                <td><%= @tradeable.title %></td>
                <td><%= number_to_currency(@price, locale: 'ja') %></td>
              </tr>
              <tr>
                <td>消費税</td>
                <td><%= number_to_currency(@ctax, locale: 'ja') %></td>
              </tr>
              <tr>
                <td><b>合計</b></td>
                <td><b><%= number_to_currency(@charge_amount, locale: 'ja') %></b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="trade-new__button">
          <button class="js-trade-new__stripe-checkout btn waves-effect" id="<%= @stripe_checkout_session["id"] %>">お支払画面へ</button>
        </div>
      </div>
    </div>
  </div>
</div>
