<%= javascript_bundle_tag 'trade' %>
<% @page_title = "購入" %>
<% breadcrumb :new_trade, @tradeable %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div> 
      <div class="row trade-new">      
        <h1>ネタを購入</h1>
        <div class="trade-new__items">
          <table class="trade-new__table">
            <tbody>
              <tr class="trade-new__table-row">
                <td class="trade-new__table-column1">ネタ名「<%= @tradeable.title %>」</td>
                <td class="trade-new__table-column2"><%= number_to_currency(@price, locale: 'ja') %></td>
              </tr>
              <tr class="trade-new__table-row">
                <td class="trade-new__table-column1">消費税</td>
                <td class="trade-new__table-column2"><%= number_to_currency(@ctax, locale: 'ja') %></td>
              </tr>
              <tr class="trade-new__table-row-total">
                <td class="trade-new__table-column1">合計</td>
                <td class="trade-new__table-column2"><%= number_to_currency(@price + @ctax, locale: 'ja') %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="trade-new__button">
          <button class="js-trade-new__stripe-checkout btn waves-effect" id="<%= @stripe_checkout_session["id"] %>">お支払画面へ</button>
        </div>
      </div>
    </div>
  </div>
</div>
