<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width:device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0">
    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">
    <head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website# article: http://ogp.me/ns/article# fb: http://ogp.me/ns/fb#">
    <meta property="og:site_name" content="Teppan" />
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:title" content="<%= page_title %>">
    <meta property="og:description" content="<%= page_description %>">
    <% if content_for?(:ogp_article) %>
      <%= yield(:ogp_article) %>
    <% else %>
      <meta property="og:type" content="website">
      <meta property="og:image" content="<%= ENV['HOST_URL'] + asset_bundle_path("images/logo-color-1.png") %>">
    <% end %>
    <% if content_for?(:twitter_card) %>
      <%= yield(:twitter_card) %>
    <% else %>
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:title" content="<%= page_title %>" />
      <meta name="twitter:description" content="<%= page_description %>" />
      <meta name="twitter:image" content="<%= ENV['HOST_URL'] + asset_bundle_path("images/logo-color-1.png") %>" />
      <meta name="twitter:url" content="<%= request.url %>" />
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_bundle_tag 'application' %>
    <%= stylesheet_bundle_tag 'application' %>
    <%= favicon_bundle_tag 'favicon.ico' %>
    <%= apple_touch_icon_tag 'apple-touch-icon.png', rel: 'apple-touch-icon' %>
  </head>

  <body>
    <header>
      <%= render "layouts/navbar" %>
    </header>
    
    <main>
      <%= render "layouts/notifications" %>
      <%= yield %>
    </main>

    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
