<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width:device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_pack_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="orange accent-4">
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="nav-brand-logo left">Teppan</a>
        <ul class="nav-contents right hide-on-med-and-down">
          <li class="hide-on-med-and-down"><%= link_to "ネタ", netas_path, method: :get %></li>
          <li class="hide-on-med-and-down"><%= link_to "トピック", topics_path, method: :get %></li>
          <% if user_signed_in? %>
            <li class="hide-on-med-and-down"><%= link_to "マイページ", user_path(current_user) %></li>
            <li class="hide-on-med-and-down"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="hide-on-med-and-down"><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
            <li class="hide-on-med-and-down"><%= link_to "ユーザー登録", new_user_registration_path, class: 'post' %></li>
          <% end %>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    
    <ul id="slide-out" class="sidenav custom">
      <li><%= link_to "ネタ", netas_path, method: :get %></li>
      <li><%= link_to "トピック", topics_path, method: :get %></li>
      <% if user_signed_in? %>
        <li><%= link_to "マイページ", user_path(current_user) %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
        <li><%= link_to "ユーザー登録", new_user_registration_path, class: 'post' %></li>
      <% end %>
    </ul>
    
      
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    
    <%= yield %>
  </body>
  
  <footer class="page-footer orange accent-4">
    <div class="row footer-contents">
      <div class="col s12 m12 footer-column1">
        <ul>
          <li>ご利用ガイド</li>
          <li>利用規約</li>
          <li>プライバシーポリシー</li>
          <li><a href="<%= new_inquiry_path %>" class="page-footer-text">お問合わせ</a></li>
        </ul>
        <div class="hide-on-med-and-down">
          <div class="line-it-button" data-lang="ja" data-type="share-b" data-url="#{<%= root_path %>}" style="display: none;"></div>
          <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
          &nbsp;&nbsp;
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-hashtags="teppan" data-show-count="false"></a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
    <div class="footer-copyright orange accent-4">© 2020 Teppan</div>
  </footer>
  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav({
        edge: 'right',
      });
    });
  </script>
  <script>
    $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
    });
  </script>
  <script>
    $('.star_rating').raty({
      score: function() {
      return $(this).attr('rating-data');
      },
      readOnly : true,
      number   : 5,  
      half     : true,
      size     : 24,
      starHalf : "<%= asset_pack_url('media/images/star-half.png') %>",
      starOff  : "<%= asset_pack_url('media/images/star-off.png') %>",
      starOn   : "<%= asset_pack_url('media/images/star-on.png') %>",
    });
  </script>
  <script>
    $('.new_star_rating').raty({
      number   : 5,  
      half     : false,
      precision:   false,
      // size     : 32,
      hints: ['1 : どゆこと？', '2 : つまらん', '3 : 面白い', '4 : ワロタ！', '5 : 殿堂入り！'],
      starHalf : "<%= asset_pack_url('media/images/star-half.png') %>",
      starOff  : "<%= asset_pack_url('media/images/star-off.png') %>",
      starOn   : "<%= asset_pack_url('media/images/star-on.png') %>",
      target: '#hint1',
      targetType: 'hint',
      targetKeep:  true,
      round:  { down: .25, full: .6, up: .76 },
      click: function(score, evt) {
        $("#review_rate").val(score);
      }
    });
  </script>
</html>
