<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width:device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0">
    <title>Teppan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="orange accent-4">
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo left">teppan</a>
        <ul class="nav-contents right hide-on-med-and-down">
          <li class="hide-on-med-and-down"><%= link_to "ネタ", netas_path, method: :get %></li>
          <li class="hide-on-med-and-down"><%= link_to "トピック", topics_path, method: :get %></li>
          <% if user_signed_in? %>
            <li class="hide-on-med-and-down"><%= link_to "マイページ", user_path(current_user) %></li>
            <li class="hide-on-med-and-down"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="hide-on-med-and-down"><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
            <li class="hide-on-med-and-down"><%= link_to "ユーザー登録", new_user_registration_path, class: 'post' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
  <footer class="page-footer orange accent-4">
    <div class="row footer-contents">
      <div class="col s6 m6 footer-column1">footer column 1</div>
      <div class="col s6 m6 footer-column2">footer column 2<br>
        <div class="line-it-button" data-lang="ja" data-type="share-b" data-url="#{<%= root_path %>}" style="display: none;"></div>
        <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        &nbsp;&nbsp;
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-hashtags="teppan" data-show-count="false"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="footer-copyright orange accent-4">© 2020 Teppan</div>
  </footer>
</html>
