<div class="col s12 m12" id="account-form-field-row">
  お名前（漢字）：<%= @account.last_name_kanji %>&nbsp;<%= @account.first_name_kanji %><br>
  お名前（カナ）：<%= @account.last_name_kana %>&nbsp;<%= @account.first_name_kana %><br>
  性別：
  <%= "男性" if @account.gender == "male" %>
  <%= "女性" if @account.gender == "female" %><br>
  生年月日：<%= @account.birthdate %><br>
  ご住所：<br>
  <%= @account.postal_code %><br>
  <%= @account.state %>
  <%= @account.city %><br>
  <%= @account.town %>
  <%= @account.kanji_line1 %>
  <%= @account.kanji_line2 %><br>
  お電話番号：<%= @account.national_phone_number %><br>
  メールアドレス：<%= @account.email %><br>
  ビジネスアカウント利用規約に同意：<%= @account.user_agreement? ? "○" : "×" %>
</div>