<li class="neta-index collection-item">
  <%= link_to neta_path(neta.id) do %>
    <div class="neta-index__title"><%= neta.title %></div>
    <% if neta.average_rate == "-" %>
      <span class="js-neta-index__star" rating-data="0"></span>
    <% else %>
      <span class="js-neta-index__star" rating-data="<%= neta.average_rate %>"></span>
      <span class="neta-index__star-count"><%= neta.average_rate %></span>
    <% end %>
    <i class="review--large material-icons">chat_bubble_outline</i>
    <span class="review__count"><%= neta.reviews_count %></span>
    <div class="neta-index__footer">
      <%= link_to user_path(neta.user_id) do %>
        <% if neta.user.avatar.present? %>
          <%= image_tag neta.user.avatar, {:class => "neta-index__author-image"} %>
        <% else %>
          <%= image_bundle_tag "no_user_image.png", {:class => "neta-index__author-image"} %>
        <% end %>
      <% end %>
      <span class="neta-index__footer-text">
        <%= neta.user.nickname %>&nbsp;&nbsp;
        <%= neta.created_at.to_s(:human) %>&nbsp;&nbsp;
      </span>
    </div>
  <% end %>
</li>


