<% @page_title = "ネタ編集" %>
<% breadcrumb :edit_neta, @neta %>
<div class="page-body-container">
  <p><%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %></p>
  <div class="row">
    <div class="col s12 m9 show">
      <h1 class="h1_class">投稿ネタ（編集）</h1>
      <div class="card z-depth-0">
        <%= form_with model: @neta, local: true, method: :patch do |form| %>
          <% if @neta.errors.any? %>
            <%= render :partial => "errorform" %>
          <% end %>
          <%= render :partial => "netaform", locals: { form: form } %>
          <%= button_tag :type => "submit", data: {disable_with: '保存中...'}, class: "btn btn-primary withripple custom" do %>
            <i class="material-icons left">refresh</i>更新
          <% end %>&nbsp;&nbsp;
          <% if @editable %>
            <%= link_to neta_path(@neta.id), {:method => :delete, :class => 'btn btn-primary withripple custom', data: { confirm: "本当に削除しますか？" }} do %>
              <i class="material-icons left">delete</i>
              <span>削除</span><br>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>