<%= javascript_bundle_tag 'hashtag' %>
<% @page_title = "#"+@tag.hashname %>
<% breadcrumb :hashtag, @tag %>
<div class="page-body-container">
  <%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %>
  <%= form_with url: netas_hashtags_path("search"), local: true, method: :get, :id => 'hashtag_search_form' do |f| %>
    <%= f.text_field :keyword, :value => params[:keyword], :autocomplete => 'off', :id => "tag_search_field" %>
    <%= f.hidden_field :search_form, :value => "true" %>
    <%= f.submit '検索', class: "btn btn-primary withripple custom", :name => nil %>
  <% end %>
  <div class="row">
    <div class="col s12 m9 show">
      <% unless @netas %>
        <p> (ネタの投稿はまだありません) </p><br>
      <% else %>
        <h1>#<%= @tag.hashname %></h1>
        <ul class="collection">
          <%= render partial: "netas/neta", :collection => @netas %>
        </ul>
      <% end %>
    </div>
  </div>
</div>