<% @page_title = "新規ネタ" %>
<% breadcrumb :new_koneta, @topic %>
<div class="page-body-container">
  <p><%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %></p>
  <div class="row">
    <div class="col s12 m9 topic-show">
      <%= render partial: "topics/topicbody", :locals => { topic: @topic }%>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m9 show">
      <h1>新規ネタ</h1>
      <div class="card z-depth-0">
        <%= form_with model: [@topic, @neta], local: true, method: :post do |form| %>
          <% if @neta.errors.any? %>
            <%= render :partial => "errorform" %>
          <% end %>
          <%= render :partial => "netaform", locals: { form: form } %>
          <%= button_tag :type => "submit", data: {disable_with: '保存中...'}, class: "btn btn-primary withripple custom" do %>
            <i class="material-icons left">create</i>投稿
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>