<% @page_title = @neta.title %>
<% @page_description = @neta.content.to_plain_text.squish.truncate(120) %>
<%= content_for(:ogp_article) do %>
  <meta property="og:type" content="article">
  <meta property="og:image" content="<%= ENV['HOST_URL'] + asset_bundle_path("images/logo-color-1.png") %>">
<% end %>
<% breadcrumb :show_neta, @neta %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 content">
      <% if @neta.private_flag && !@owner %>
        <%= @message %>
      <% else %>
        <div class="row content-header">
          <%= render partial: "layouts/breadcrumbs" %>
        </div>
        <div class="row neta-show">
          <h1 class="neta-show__title"><%= @neta.title %></h1>
          <div class="neta-show__text--free"><%= @neta.content %></div>
          <div class="neta-show__value-content">
            <% if @neta.price != 0 %>
              <% if ( @owner || @my_trade.present? ) %>
                <p class="neta-show__text-divider">---------  以下、有料部分   ---------</p>
                <% if @neta.valuecontent.present? %>
                  <div class="neta-show__text--value"><%= @neta.valuecontent %></div>
                <% end %>
                <% if @my_trade.present? %>
                  <span class="neta-show__price--active"><%= number_to_currency(@my_trade.price, locale: 'ja') %>で購入済み</span>
                <% else %>
                  <span class="neta-show__price--active">価格：<%= number_to_currency(@neta.price, locale: 'ja') %></span>
                <% end %>
              <% else %>
                <% if @for_sale %>
                  <div class="neta-show__text-divider">--------  これより先は有料コンテンツです  --------</div>
                  <span class="neta-show__price--active">価格：<%= number_to_currency(@neta.price, locale: 'ja') %></span>&nbsp;&nbsp;
                  <%= link_to "購入", new_neta_trade_path(@neta.id), {:class => 'neta-show__purchase btn waves-effect' } %>
                  <span class="neta-show__bookmark">
                    <% if user_signed_in? %>
                      <span id="bookmark_buttons_<%= @neta.class.name.downcase %>_<%= @neta.id %>">
                        <%= render partial: 'bookmarks/bookmark', locals: { bookmarkable: @neta } %>
                      </span>
                    <% else %>
                      <i class="bookmark-large material-icons">bookmark_border</i>
                    <% end %>
                  </span>
                <% else %>
                  <p class="neta-show__text-divider">--------  現在は販売されておりません  --------</p>
                  <span class="neta-show__price--inactive"><%= number_to_currency(@neta.price, locale: 'ja') %></span>
                  <div class="btn btn-primary withripple custom inactive">購入</div>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <% @neta.hashtags.each do |tag| %>
            <div class="neta-show__hashtag"><%= link_to "#"+tag.hashname, "/hashtags/netas?keyword=#{tag.hashname}" %></div>
          <% end %>

          <% if @owner %>
            <div class="neta-show__edit-link"><%= link_to "編集", edit_neta_path(@neta.id) %></div>
          <% end %>
          <div class="neta-show__footer">
            <%= link_to user_path(@neta.user_id) do %>
              <% if @neta.user.avatar_img_url.present? %>
                <%= image_tag @neta.user.avatar_img_url, {:class => "neta-show__author-image"} %>
              <% else %>
                <%= image_bundle_tag "no_user_image.png", {:class => "neta-show__author-image"} %>
              <% end %>
            <% end %>
            <span class="neta-show__footer-text">
              <%= @neta.user.nickname %>&nbsp;&nbsp;
              <%= @neta.created_at.to_s(:human) %>&nbsp;&nbsp;
            </span>
          </div>
        </div>  
        <div class="row neta-show__review">
          <% if !@owner && @new_review.present? %>
            <% unless ( @for_sale && @my_trade.blank? ) %>
              <ul class="neta-show__review-index collection">
                <%= render partial: "reviews/reviewform", locals: { neta: @neta, new_review: @new_review } %>
              </ul>
            <% end %>
          <% else %>
            <h2>レビュー(<%= @reviews.count %>件)</h2>
            <% if @reviews.present? %>
              <ul class="neta-show__review-index collection">
                <%= render partial: "reviews/review", collection: @reviews %>
              </ul>
            <% else %>
              <p class="neta-show__review-nodata"> (レビューはありません) </p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>