<% @page_title = @neta.title %>
<% breadcrumb :show_neta, @neta %>
<div class="page-body-container">
  <%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %>
  <div class="row">
    <div class="col s12 m9 show">
      <div class="card show z-depth-0">
        <div class="card-content show">
          <% if @owner || @neta.private_flag == false %>
            <h1 class="h1-card"><%= @neta.title %></h1>
            <div class="neta-text"><%= @neta.content %></div>
            <div class="neta-purchase">
              <% if @neta.price != 0 %>
                <% unless (@purchased || @owner) %>
                  <% if @for_sale %>
                    <p class="neta-text-divider">--------  これより先は有料コンテンツです  --------</p>
                    <span class="neta-price">価格：<%= number_to_currency(@neta.price, locale: 'ja') %></span>&nbsp;&nbsp;
                    <%= link_to "購入", new_neta_trade_path(@neta.id), {:class => 'btn btn-primary withripple custom' } %>
                  <% else %>
                    <p class="neta-text-divider">--------  現在は販売されておりません  --------</p>
                    <span class="neta-price-inactive"><%= number_to_currency(@neta.price, locale: 'ja') %></span>
                    <div class="btn btn-primary withripple custom inactive">購入</div>
                  <% end %>
                <% else %>
                  <% if @neta.valuecontent.present? %>
                    <p class="neta-text-divider">---------  以下、有料部分   ---------</p>
                    <div class="neta-text"><%= @neta.valuecontent %></div>
                  <% end %>
                  <% unless @owner %>
                    <span class="neta-price-inactive"><%= number_to_currency(@purchased.price, locale: 'ja') %>で購入済み</span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <% @neta.hashtags.each do |tag| %>
              <div class="chip custom"><%= link_to "#"+tag.hashname, "/hashtags?keyword=#{tag.hashname}" %></div>
            <% end %>
            <% if @owner %>
              <p><%= link_to "編集", edit_neta_path(@neta.id) %></p>
            <% end %>
            <div class="collection-item-footer">
              <p class="neta-footer-text">
                <%= link_to user_path(@neta.user_id) do %>
                  <span class="avatar-card">
                    <% if @neta.user.avatar.present? %>
                      <%= image_tag @neta.user.avatar, {:class => "circle custom", :id => "mycircle"} %>
                    <% else %>
                      <%= image_bundle_tag "no_user_image.png", {:class => "circle custom", :id => "mycircle"} %>
                    <% end %>
                  </span>
                <% end %>
                <%= atname(@neta.user.nickname) %>&nbsp;&nbsp;
                <%= @neta.created_at.to_s(:human) %>&nbsp;&nbsp;
                <%= @neta.pageviews_count %>&nbsp;views&nbsp;&nbsp;
                <%= @neta.public_str if @owner %>
              </p>
              <p class="neta-footer-icons">
                <% if user_signed_in? %>
                  <% unless @owner %>
                    <span id="bookmark_buttons_<%= @neta.class.name.downcase %>_<%= @neta.id %>">
                      <%= render partial: 'interests/interest', locals: { interestable: @neta } %>
                    </span>
                  <% else %>
                    <i class="material-icons bookmark custom non-active">bookmark_border</i>&nbsp;&nbsp;
                  <% end %>
                <% else %>
                  <i class="material-icons bookmark basic">bookmark_border</i>
                <% end %>
              </p>
            </div>
          <% else %>
            <%= @message %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% unless @neta.private_flag %>
    <div class="row">
      <div class="col s12 m9 neta-show">
        <div class="indent-wrapper">
          <h1 class="h1_class">レビュー(<%= @reviews.count %>件)</h1>
        </div>
        <% if @reviews %>
          <ul class="collection">
          <%= render partial: "reviews/review", collection: @reviews %>
          </ul>
        <% else %>
          <div class="indent-wrapper">
            <p> (レビューはありません) </p>
          </div>
        <% end %>
        <% unless @owner %>
          <% if @neta.price == 0 || @purchased %>
            <% unless @myreview.present? %>
              <%= render partial: "reviews/reviewform", locals: { neta: @neta, newreview: @newreview } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>