<% @page_title = "ユーザー登録" %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m6 content">
      <h2>ユーザー登録</h2>
      <%= form_with model: @user, url: user_registration_path, :class => 'user-register-new__form', :local => true do |f| %>
        <div class="user-register-new__field--error">
          <%= render :partial => "/users/shared/error_messages" %>
        </div>
        <div class="user-register-new__field">
          <%= f.label :email, :class => 'user-register-new__email-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "off", :class => 'user-register-new__email' %>
        </div>
        <div class="user-register-new__field">
          <%= f.label :password, :class => 'user-register-new__password-label' %>
          <% if @minimum_password_length %>
            <span class="user-register-new__password-message">(<%= @minimum_password_length %> 文字以上)</span>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", :class => 'user-register-new__password' %>
        </div>
      
        <div class="user-register-new__field">
          <%= f.label :password_confirmation, :class => 'user-register-new__password-label' %>
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'user-register-new__password' %>
        </div>
        <%= f.submit "登録", :class => "user-register-new__login btn waves-effect" %>
      <% end %>
      <hr>
      <h2>他のアカウントで登録</h2>
      <%= render :partial => "/users/shared/oauth" %>
    </div>
  </div>
</div>
